body{
font-family: Copperplate, Copperplate Gothic Light, fantasy;
    background: linear-gradient(115deg, #fff6b7, #f6416c);
text-align: center;
text-transform: uppercase;
line-height: 1.8;
color: #d40a39;
box-shadow: #f6416c;


}


h1{
    color:rgb(102, 23, 4);
    text-align: center;

}
img{
    
width: 180px;
height: auto;
border-radius:12px;
}