
body {
            background-color:white;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        container {
            max-width: 400px;
            margin-top: 50px;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        form-label {
            font-weight: bold;
        }
        
        #result {
            font-size: 18px;
            font-weight: bold;
            color: #00698f;
        }